<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @seller.name %>
</p>

<p>
  <b>Address:</b>
  <%= @seller.address %>
</p>

<p>
  <b>Url:</b>
  <%= @seller.url %>
</p>


<%= link_to 'Edit', edit_seller_path(@seller) %> |
<%= link_to 'Back', sellers_path %>
