<div class="depot_form" >
<% @page_title='Available Users' %>
  <% @page_title = 'user | list' %>

  <div>
    <%= pluralize(@users.size, "user") %> available
    <%= link_to 'New User', new_user_path %>
  </div>
  <% if notice %>
  <p id="notice" ><%= notice %></p>
  <% end %>
  <fieldset>
    <h1>Listing users</h1>

    <table class="table table-striped" style="font-size:14px;width:auto;">
      <tr style="font-weight:bold;">
        <td>Names</td>
        <td>Mobile</td>
        <td>Role</td>
        <td>Action</td>
      </tr>

    <% @users.each do |user| %>
      <tr style="background:#ccc;">
        <td><%= user.firstname + ' ' + user.lastname %></td>
        <td><%= user.phone_no %></td>
        <td><%= user.role.title %></td>
        <td><%= link_to 'Show', user %> |
          <%= link_to 'Edit', edit_user_path(user) %> |
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    <br />
  </fieldset>
  
</div>
<p><%= will_paginate @users %></p>
