<div class="depot_form" >
  <%= form_for(@manager) do |f| %>
    <% if @manager.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@manager.errors.count, "error") %> prohibited this manager from being saved:</h2>

        <ul>
        <% @manager.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <div>
        <%= f.label :first_name %>:
        <%= f.text_field :firstname, :size => 40 %>
      </div>
      <div>
        <%= f.label :last_name %>:
        <%= f.text_field :lastname, :size => 40 %>
      </div>
      <div>
        <%= f.label :email %>:
        <%= f.text_field :email, :size => 40 %>
      </div>
      <div>
        <%= f.label :address %>:
        <%= f.text_field :address, :size => 40 %>
      </div>
      <div>
        <%= f.label :phone_no %>:
        <%= f.text_field :phone_no, :size => 40 %>
      </div>

      <div>
        <%= f.label :user_name %>:
        <%= f.text_field :name, :size => 40 %>
      </div>
      <div>
        <%= f.label :password, 'Password' %>:
        <%= f.password_field :password, :size => 40 %>
      </div>
      <div>
        <%= f.label :password_confirmation, 'Confirm' %>:
        <%= f.password_field :password_confirmation, :size => 40 %>
      </div>
      <div>
        <%= f.hidden_field(:role_id, :value=>3)%>
        <%= f.label :supermarket %> : 
        <%= f.select(:seller_id, @sellers.collect{|r| [r.name, r.id]}, {:include_blank=>"--- select supermarket ---"}) %>
      </div>
      <div>
        <%= f.label :branch %>:
        <%= f.select(:branch_id, @branches.collect{|r| [r.seller.name + '(' +  r.branch_name + ')', r.id]}, {:include_blank=>"--- select branch ---"}) %>
      </div>
      <div>
        <%= f.submit %>
      </div>
    </fieldset>
  <% end %>
</div>
