<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
  <% end %>
  <% if notice %>
    <div id="error_explanation">
      <%= notice %>
    </div>
  <% end %>
  
    <%= f.hidden_field :branch_id, :value=>@line_item.product.branch_id %>
    
    <%= f.hidden_field :order_total, :value=>@cart.total_price %>

  <div class="field">
    <%= f.label 'Your Name*' %> :<br />
    <%= f.text_field :name, :size => 40 %>
  </div>
  
  <div class="field">
    <%= f.label 'Email(optional)' %> :<br />
    <%= f.email_field :email, :size => 40 %>
  </div>

  <div class="field">
    <%= f.label 'Pay_Type*' %> :<br />
    <%= f.select :pay_type, Order::PAYMENT_TYPES, :prompt => 'Select a payment method' %>
  </div>

  <div class="field">
    <%= f.label 'Phone_no*' %> :<br />
    <%= f.text_field :phone_no %><br />
  </div>

  <div class="field">
    <%= f.label 'Time of picking or delivery*' %> :<br />
    <%= f.time_select(:delivery_time, :ampm=>true, :minute_step=>10) %><br />
  </div>

  <div style="margin-left:100px;">
    <%= f.radio_button :delivery, true, :onClick=>"validator()" %> Pick from supermarket<br/>
    <%= f.radio_button :delivery, true, :onClick=>"amount(); validator2()" %> Deliver at premises<br/>
  </div>

  <div class="panel-body">
    <%= f.label :address, "Location (street, plot ,area, division, village)" %> :<br />
    <%= f.text_area :address, :rows => 3, :cols => 40 %>
  </div>  
  <div class="actions">
    <%= f.submit 'Submit Order', :class=>"btn btn-medium btn-info" %>
  </div>
<% end %>

<script type="text/javascript">
      function validator(){
        
        if(document.forms[2].elements[6].name.checked)
          $('.panel-body').show();
        else
         $('.panel-body').hide(); 
      }
      function validator2(){
        
        if(document.forms[2].elements[7].name.checked)
          $('.panel-body').hide();
          
        else
          $('.panel-body').show();
      }
      function amount(){
        confirm("The delivery fee is 5000Ush only within a radius of 5km from supermarket, on delivery")
      }
  </script>