<meta http-equiv="refresh" content="10" />
<div>
    <%= pluralize(@orders.size, "order") %> available 
  </div>
<h3>Listing orders</h3>
<% if notice %>
    <div id="error_explanation">
      <%= notice %>
    </div>
  <% end %>
<% @page_title='Available Orders' %>

<table class="table table-striped" style="font-size:14px;width:auto;">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Pay type</th>
    <th>Status</th>
    <th>Action</th>    
  </tr>

<% @orders.each do |order| %>
  <tr style="background:#ccc;">
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <td><%= order.email %></td>
    <td><%= order.pay_type %></td>
    <td style="color:green;"><%= order.status ? 'Finished' : 'Pending...' %></td>
    <td>
      <% if order.status %>
        <%= link_to 'show', order %>
      <% else %>
        <%= link_to 'submit', {:action=>'status', :id=>order.id}, :confirm=>'Are you sure you want to submit order?', :style=>"color:red;" %>
      <%end%> |
        <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>    
  </tr>
<% end %>
</table>

<p><%= will_paginate @orders %></p>