<div class="cart_title" >Your Cart</div>
<table>
	<tr>
		<td style="color:red;font-weight:bold;">Service</td>
		<td style="color:red;font-weight:bold;">charge</td>
		<td style="color:red;font-weight:bold;">Ush <%= cart.service_charge %> </td>
	</tr>
	<%= render(cart.line_items) %>
	<tr class="total_line" >
		<td colspan="2" >Total</td>
		<td class="total_cell" ><%= sprintf("Ush %0.0f",cart.total_price) %></td>
	</tr>
</table>
<table style="border:0px;">
<tr>
<td>
<%= button_to "Check out" , new_order_path, :method => :get, :class=>'button-class' %>
</td>
<td>
<%= button_to 'Empty cart' , cart, :method => :delete,
:confirm => 'Are you sure you want to empty your cart?', :class=>'button-class' %>
</td>
</tr>
</table>