<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @line_item.product.title %>
</p>

<p>
  <b>Cart:</b>
  <%= @line_item.cart_id %>
</p>

<p>
  <b>Ordered by:</b>
  <%= @line_item.order.name %>
</p>


<%= link_to 'Edit', :action=>'edit', :id=>@line_item %> |
<%= link_to 'Back', :action=>'index' %>
